{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: Privacy{% endblock %}
{% block body %}
    <twig:Primarybox>
        <twig:Row labelWidth="2">
            <h1 class="h3 mb-4">Privacy</h1>
        </twig:Row>
        <twig:Row labelWidth="2" label="Introduction">
            Your personal information is save!
        </twig:Row>
    </twig:Primarybox>
{% endblock %}