<div class="app-footer-box">
    <footer>
        <ul class="nav justify-content-center">
            <twig:NavItem route="app_impressum" label="Impressum"/>
            <twig:NavItem route="app_privacy" label="Privacy"/>
            <twig:NavItem route="app_contact" label="Contact"/>
        </ul>
    </footer>
</div>