<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ app_title }}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body data-turbo-prefetch="false" data-turbo="false"> {# turn off turbo: data-turbo="false" #}
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div>
                    <main>
                        {% block body %}{% endblock %}
                    </main>
                </div>
            </div>
            {{ include('flash.html.twig') }}
        </div>
    </body>
</html>