{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'grid.scope.create.title'|trans }}{% endblock %}
{% block body %}
    <twig:Box>
        <twig:Row rowClass="mb-4">
            <h1 class="h3"><twig:Icon name="grid-3x3-gap" />{{ 'grid.scope.create.title'|trans }}</h1>
        </twig:Row>
    </twig:Box>
{% endblock %}