<twig:Table headers="{{ [
    'grid.col.label.update',
    'grid.col.label.name',
    'grid.col.label.scopes',
] }}" small>
    {% for column in columns %}
        <tr
            class="{% if col_selected|default() and col_selected.id == column.id %}table-active{% endif %}"
        >
            <td>
                <a href="{{ path('app_grid_col_update', {'id': column.id}) }}" class="btn btn-primary">
                    <span class="bi-pencil"></span>
                </a>
            </td>
            <th scope="row">{{ column.name }}</th>
            <td>
                {% for gridcol in column.gridscopeCols %}
                    {{ gridcol.scope.name }}
                    {% if not loop.last %} | {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</twig:Table>
