<div class="sticky-top app-topnav-box">
    <nav>
        <ul class="nav nav-pills justify-content-center">
            <twig:NavItem
                    route="app_grid_scope_create"
                    routePrefix="app_grid_scope"
                    label="Grid Scope"
            />
            <twig:NavItem
                    route="app_grid_col_create"
                    routePrefix="app_grid_col"
                    label="Grid Col"
            />
            <twig:NavItem
                    route="app_grid_pool_create"
                    routePrefix="app_grid_pool"
                    label="Grid Pool"
            />

        </ul>
    </nav>
</div>
