:root {
    --cc-trans: transparent;
    --cc-black: #000;
    --cc-darkest: #171717;
    --cc-darker: #222;
    --cc-dark: #333;
    --cc-dark-gray: #777;
    --cc-gray: #aaa;
    --cc-lgt-gray: #dfdfdf;
    --cc-light: #eee;
    --cc-lighter: #f0f0f0;
    --cc-lightest: #f7f7f7;
    --cc-white: #fff;

    --cc-1: #af0063;
    --cc-1-darker-1: #700842;
    --cc-1-lighter-1: #e8108a;
    --cc-1-lighter-2: #fb44ac;
    --cc-1-lighter-3: #fb71c0;

    --cc-2: #00a0af;
    --cc-2-lighter-1: #48ccd8;
    --cc-2-lighter-2: #6ae6f1;
    --cc-2-darker-1: #014a52;

    --cc-3: #48a114;
    --cc-3-lighter-1: #a5e87f;
    --cc-3-darker-1: #33700f;
    --cc-3-darker-2: #244e0b;

    --cc-4: #ffff00;

    --cc-alert: #f15eb1;
    --cc-alert-darker-1: #550d35;
    --cc-alert-darker-2: #301122;

    --readable: 1100px;
}

body {
    font-family: "Roboto Condensed Variable", sans-serif;
    font-size: 17px;
    background-color: var(--cc-dark);
    color: var(--cc-lighter);
    padding: 0;
}
u {
    text-decoration: none;
    color: var(--cc-1);
}
.app-link {
    color: var(--cc-1);
    text-decoration: none;
}
.app-link:hover {
    text-decoration: underline;
}
.app-titlebox {
    text-align: center;
    background-color: var(--cc-dark);
    padding:0.5em;
    margin: 1em auto 1em auto;
}
.app-topnav-box {
    text-align: center;
    background-color: var(--cc-dark);
    padding:0.5em;
    margin: 1em auto 1em auto;
}
.app-footer-box {
    background-color: var(--cc-dark);
    padding:0.5em;
    margin: 1em auto 1em auto;
}
.app-footer-box .nav-link.active {
    color: var(--cc-1);
}
.app-primarybox {
    max-width: var(--readable);
    margin: 0 auto 0 auto;
}
.app-box {
    background-color: var(--cc-darkest);
    padding:1em;
    margin: 1em;
}
.app-row {
    padding-bottom:0.25em;
}
.app-flash {
    position: fixed;
    bottom:20px;
    right:20px;
    padding:20px;
    background:var(--cc-black);
    color:#fff;
    max-width:50%;
    max-height:50%;
    overflow-y: auto;
    font-size: 1em;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.app-flash-pop {
    background:var(--cc-1-lighter-1);
    bottom:100px;
    font-size: 4em;
    transition: background-color 0.1s ease, font-size 0.1s ease, bottom 0.1s ease;
}
.app-flash-unpop {
    background:var(--cc-black);
    bottom:20px;
    font-size: 1em;
    transition: background-color 0.2s ease, font-size 0.2s ease, bottom 0.2s ease;
}
.app-flash-minimize {
    padding:0 5px !important;
}
.app-less-important {
    font-size: 0.8em;
    opacity: 0.8;
}