<div class="app-topnav-box">
    <nav>
        <ul class="nav nav-pills justify-content-center">
            {% if is_granted('IS_IMPERSONATOR') %}
                <twig:NavItem
                        path="{{ path('app_admin_user_list', {'_switch_user': '_exit'}) }}"
                        labelDirect="{{ app.user.name }}"
                        icon="bandaid-fill"
                        class="app-warn-blink"
                />
            {% endif %}
            <twig:NavItem route="app_home" label="Home"/>
            {% if is_granted('ROLE_WORKTIME_PLANNER') %}
                <twig:NavItem
                        route="app_planner_entries"
                        label="My Plan"
                        icon="calendar3"
                />
            {% endif %}
            {% if is_granted('ROLE_USERMANAGER') or is_granted('ROLE_ADMIN') %}
                <twig:NavItem
                        route="app_admin_user_list"
                        routePrefix="app_admin_user"
                        label="Users"
                        icon="gear-wide-connected"
                />
            {% endif %}
            {% if app.user %}
                <twig:NavItem route="app_me_update" label="You" icon="person-vcard" />
                <twig:NavItem route="app_logout" label="Logout" icon="power" />
            {% else %}
                <twig:NavItem route="app_login" label="Login" icon="lamp" />
            {% endif %}
        </ul>
    </nav>
</div>