<div class="sticky-top app-topnav-box">
    <nav>
        <ul class="nav nav-pills justify-content-center">
            {% if is_granted('IS_IMPERSONATOR') %}
                <twig:NavItem
                        path="{{ path('app_admin_user_list', {'_switch_user': '_exit'}) }}"
                        labelDirect="{{ app.user.name }}"
                        icon="bandaid-fill"
                        class="app-warn-blink"
                />
            {% endif %}
            <twig:NavItem route="app_home" label="Home"/>
            {% if is_granted('ROLE_GRIDADMIN') %}
                <twig:NavItem
                        route="app_grid_finder"
                        routePrefix="app_grid"
                        label="Grid Hub"
                        icon="grid-3x3-gap"
                />
            {% endif %}
            {% if is_granted('ROLE_WORKTIME_PLANNER') %}
                <twig:NavItem route="app_planner_all_entries" routePrefix="app_planner" label="Our Plan" icon="calendar2-range" />
            {% endif %}
            {% if is_granted('ROLE_USERMANAGER') %}
                <twig:NavItem
                        route="app_admin_user_list"
                        routePrefix="app_admin_user"
                        label="Users"
                        icon="gear-wide-connected"
                />
            {% endif %}
            {% if is_granted('ROLE_GEOGUESSR') %}
                <twig:NavItem
                        route="app_geoguessr"
                        label="Geoguessr"
                        icon="globe-americas"
                />
            {% endif %}
            {% if app.user %}
                <twig:NavItem route="app_me_update" label="You" icon="person-vcard" />
                <twig:NavItem route="app_logout" label="Logout" icon="power" />
            {% else %}
                <twig:NavItem route="app_login" label="Login" icon="lamp" />
            {% endif %}
        </ul>
    </nav>
</div>