<div class="app-topnav-box">
    <nav>
        <ul class="nav nav-pills justify-content-center">
            <twig:NavItem route="app_home" label="Home"/>
            {% if is_granted('ROLE_USERMANAGER') or is_granted('ROLE_ADMIN') %}
                <twig:NavItem
                        route="app_admin_user_candidate_list"
                        routePrefix="app_admin_user_candidate"
                        label="Candidates"
                        icon="gear-wide-connected"
                />
                <twig:NavItem
                        route="app_admin_user_list"
                        routePrefix="app_admin_user"
                        label="Users"
                        icon="gear-wide-connected"
                />
            {% endif %}
            {% if app.user %}
                <twig:NavItem route="app_logout" label="Logout" icon="power" />
            {% else %}
                <twig:NavItem route="app_login" label="Login" icon="lamp" />
            {% endif %}
        </ul>
    </nav>
</div>